main{
    position: relative;
    width: 100%;
    height: auto;

    section{
        position: relative;
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .left,.right{
            position: relative;
            width: 50%;
            height: 100%;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .right{
            align-items: center;
            
            svg{
                position: relative;
                width: 80%;

                .fill-1{
                    fill: var(--fill-1)
                }

                .fill-2{
                    fill: var(--fill-2);
                }

                .fill-3{
                    fill: var(--fill-3);
                }

                .fill-4{
                    fill: var(--fill-4);
                }

                .fill-5{
                    fill: var(--fill-5);
                }
            }

            .ellipse{
                position: absolute;
                width: 600px;
                height: 600px;
                background-color: var(--accent-color);
                border-radius: 100%;
                top: -200px;
                right: -200px;
                z-index: -99;
            }
        }

        
    }
}