.linkStack{
    position: fixed;
    width: 50px;
    height: auto;
    left: 50px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &> *{
        margin-top: 10px;

        &:hover{
            transition-duration: 0.5s;
            transform: scale(1.1);
        }
    }

    a{
        position: relative;
        color: var(--text-color);
        opacity: 0.5;

        &:hover{
            opacity: 1;
        }
    }

    .line{
        width: 1px;
        height: 50px;
        position: relative;
        background-color: var(--text-color);
    }
}